
.vieninput {
	border-radius: 25px;
}.nutTO {
	width: 300px;
	height: 150px;
	border-radius: 20px;
}
.khoichonngay p {
	margin-top: 0;
	margin-bottom: 3px;
}
.center {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.centerMain{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
}
.centerMain > div {
	margin: 10px;
}
.duoicung {
	position: fixed;
	bottom: 10px;
	text-align: center;
}
.main {
	min-width: 300px;
	background-color: white;
	margin: 8px auto; 
}
.masp {
	display: inline-block;
	width: 180px;
	text-align: center;
}
.scan {
	min-width: 70%;
	max-width: 90%;
	height: 60px;
	font-size: 25px;
}
div#khoinhap div, div#khoinhap input{
	display: inline-block;
	font-size: 14px;
}
div#khoianh div {
	display: inline-block;
}
.noidung {
	border-radius: 5%;
}

#interactive.viewport {
	position: relative; 
	width: 100%; 
	height: auto; 
	overflow: hidden; 
	text-align: center;
}
#interactive.viewport > canvas, #interactive.viewport > video {
	max-width: 100%;
	width: 100%;
}
canvas.drawing, canvas.drawingBuffer {
	position: absolute; 
	left: 0; 
	top: 0;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.fa-check-square {
	color: green;
}
tbody#bodytableVM td {
	vertical-align: middle;

}
tbody#bodytableVM td button {
	vertical-align: middle;
	border-radius: 4px;
	font-size: 12px;
}
table#bangVM thead {
	line-height: 4px;
}
table#bangVM thead tr{
	background-color: #9BEEEC;
}
table#bangVM thead tr{
	display: block;
}
table#bangVM tbody {
	display: block;
	overflow-y: scroll;
	height: 35vh;
}

table#table-hts thead tr{
	display: block;
}
table#table-hts tbody {
	display: block;
	overflow-y: scroll;
	height: 50vh;
}
table#bangVM tr {
	cursor: pointer;
}
.maudongtr {
	background-color: #E7E9FC;
}
.khunganh {
	position: relative;
}
.khunganh img {
	opacity: 1;
}
.khunganh .loadinganh {
	display: none;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.khunganh .mahang_anh {
	position: absolute;
	bottom: 0;
	left: 18%;
	font-size: 20px;
}
.khunganh .mahang_anh p {
	padding: 0;
	margin: 0;
}
.khunganh img {
	height: 165px;
	width: 150px;
}
.headerVM {
	display: inline-flex;
	font-size: 12px;
}
.headerVM p {
	margin-bottom: 1px;
}
.footerVM {
	display: none;
}
.khoianhchonngayVM {
	display: inline-flex;
}
.khoichonngay input {
	font-size: 12px;
	border-radius: 4px;
}
.khoichonngay p {
	font-size: 18px;
}
.khoithongtin {
	font-size: 13px;
}
.khoithongtin #mota {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 35px;
}
.khoithongtin #ghichu {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 40px;
}
.khoithanVM .table-responsive {
	font-size: 12px;
}
.hrstyle {
	margin:2px 2px auto;
}
.hrstyle1 {
	margin: 3px;
	display: block;
}
.hienthiDKVM {
	display: none;
}
.labelthongtinVM {
	width: 20%;
}
.khoithongtin {
	margin: 3px 5px;
}
.khoithongtin .row:first-child {
	display: none;
}
.anhienSoluong {
	margin:0 2px;
	display: inline-flex;
}
.soluongVM {
	background-color: #CA77DA;
	border-radius: 4px;
	padding: 0 5px;
	color: white;
	font-weight: bold;
	width: 35px;
	text-align: center;
}
.thongsobangVM p {
	margin-right: 5px;
	margin-top: 2px;
}
.thongsobangVM div {
	display: inline-flex;
	margin: 0 auto;
}
/* nut switch */
.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  padding-left: 40px;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-input:checked + .switch-label:before {
  background-color: #EBD4F4;
}
.switch-input:checked + .switch-label:after {
  background-color: #BE53E8;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
/*** */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
.fa-bell {
	color: #C1C1B8;
}
.fixThongbao {
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: 4%;
	left: 3%;
	position: fixed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fixThongbao div {
	margin: 5px auto;
}
 .sothongbao {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 0px 5px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px; 
}
#modalloadbangmoiVM modal-body {
	max-height: 50vh;
}
#gachthongbao {
	font-size: 13px;
	overflow-y: scroll;
}
#chude, #mota, #ghichu {
	background-color: #F4F7F7;
}
@media screen and (min-width: 320px) {
    .noidung {
    	height: 80px;
    }
    .fontchu {
    	font-size: 40px;
    }
    div#pagecheckKM button {
		border-radius: 10px;
	}
	.berongnhapBarcode {
		width: 40%;
	}
	table#table-hts th {
		min-width: 80px;
	}
	.anhienSoluong {
		display: none;
	}
}
@media screen and (min-width: 360px) {
    .noidung {
    	height: 120px;
    }
    .fontchu {
    	font-size: 45px;
    }
    div#pagecheckKM button {
		border-radius: 15px;
	}
	.berongnhapBarcode {
		width: 45%;
	}
	table#table-hts th {
		min-width: 100px;
	}
	.anhienSoluong {
		display: none;
	}
}
@media screen and (min-width: 375px){
	.anhienSoluong {
		display: inline-flex;
	}
}
@media screen and (min-width: 384px) {
    .noidung {
    	height: 130px;
    }
    .fontchu {
    	font-size: 50px;
    }
    div#pagecheckKM button {
		border-radius: 15px;
	}
	.berongnhapBarcode {
		width: 50%;
	}
	.anhienSoluong {
		display: inline-flex;
	}
}
@media screen and (min-width: 412px) {
    .noidung {
    	height: 150px;
    }
    .fontchu {
    	font-size: 55px;
    }
    div#pagecheckKM button {
		border-radius: 15px;
	}
	.berongnhapBarcode {
		width: 55%;
	}
	table#table-hts th {
		min-width: 120px;
	}
	.anhienSoluong {
		display: inline-flex;
	}
}
@media screen and (min-width: 768px){
	body {
		background-color: #F4F7F7;
		width: 100vw;
	}
	.container {
		width: 100vw;
	}
	
	.berongnhapBarcode {
		width: 60%;
	}
	table#table-hts th {
		min-width: 150px;
	}
	#nhapdulieuKM button {
		width: 150px;
	}
	.headerVM {
		font-size: 14px;
		margin: 7px auto;
		width: 100%;
		background-color: #FDFDFF;
		border-radius: 5px;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
	}
	.headerVM p, .headerVM a {
		margin: 5px;
	}
	.khunganh img {
		height: 200px;
		width: 200px;
	}
	.khunganh .mahang_anh {
		font-size: 25px;
		left: 25%;
	}
	.footerVM {
		display: inline-block;
		margin: 5px auto;
	}
	.footerVM button {
		width: 200px;
		margin: auto 10px;
	}
	.khoichonngay .form-group{
		width: 200px;
	}
	.khoichonngay input {
		font-size: 18px;
	}
	.khoichonngay p {
		font-size: 25px;
		width: 200px;
		margin: 5px auto;
	}
	.khoichonngay {
		margin-bottom: 15px;
	}
	.khoianhchonngayVM {
		width: 35%;
		float: left;
		display: block;
		text-align: center;
		height: 92vh;
		background-color: #FDFDFF;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.khoianhchonngayVM .col-6 {
		width: 100%;
		margin: 20px auto;
	}
	.khoianhchonngayVM .xuatinVM {
		display: inline-block;
		width: 100%;
		margin: 10px 15px;
	}
	.khoithanVM{
		width: 60%;
		float: right;
		background-color: #FDFDFF;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.khoithongtin {
		font-size: 16px;
		height: 32vh;
		margin: 5px 20px;
	}
	.khoithongtin .row:first-child {
		display: flex;
	}
	.khoithongtin #mota, .khoithongtin #ghichu {
		height: 70px;
	}
	
	.khoithanVM .table-responsive {
		font-size: 16px;
	}
	table#bangVM tbody {
		height: 50vh;
	}
	tbody#bodytableVM td button {
		font-size: 16px;
	}
	#bangVM .cottrunghangVM {
		width: 10%;
	}
	.khunganh .loadinganh {
	    left: 50%;
	}
	.hrstyle {
		visibility: :hidden;
	}
	.hrstyle1 {
		display: none;
	}
	.hienthiDKVM {
		display: block;
	}
	.thongsobangVM {

	}
	.thongsobangVM div {
		display: inline-flex;
		margin: auto 5px;
	}
	.fixThongbao {
		width: 50px;
		height: 50px;
		bottom: 15%;
		left: 10%;
	}
	.sothongbao {
		  top: -5px;
		  right: -5px;
		  padding: 0px 6px;
		  font-size: 14px; 
	}
	.anhienSoluong {
		display: inline-flex;
	}
}

@media screen and ( min-width: 768px) and (min-height: 700px) {
	.khoithongtin {
		height: 25vh;
	}
	.khoianhchonngayVM {
		height: 83vh;
	}
	.footerVM {
		margin: 10px auto;
	}
}

